<!DOCTYPE html>
<html lang="en">
{{>head}}


<body class="register-page" style="margin-top: 100px;">
    <div class="wrapper">
       {{{body}}}     
    </div>
    {{> scripts}}
</body>
</html>